@model IEnumerable<Expense_Tracker.Models.Transaction>

@{
    ViewData["PageTitle"] = "Transactions";
    ViewData["PageActionText"] = " + New Transaction ";
    ViewData["PageActionUrl"] = "/Transaction/AddorEdit";
}


<div class="row">
    <div class="col-md-7 custom_grid1">
        <ejs-grid id="transactions" dataSource="@Model" gridLines="None" allowSorting="true" allowPaging="true">
            <e-grid-pagesettings pageSize="5"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="Category" field="CategoryTitleWithIcon"></e-grid-column>
                <e-grid-column headerText="Date" type="date" format="MMM-dd-yy" textAlign="Left" field="Date" width="110px"></e-grid-column>
                <e-grid-column headerText="Amount" field="FormattedAmount" textAlign="Right" width="110px"></e-grid-column>
                <e-grid-column headerText="Actions" field="Actions" template="#ActionColumntemplate" width="170px"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
    <div class="col md-5 custom_grid1">
        <div class="widget h-100 d-flex justify-content-center align-items-center" style="background-color:#212b36">
            <i class="fa-solid fa-money-bill-transfer fa-2xl"></i>
        </div>
    </div>
</div>
<script id="ActionColumntemplate" type="text/x-template">
    <div class="d-flex flex-row justify-content-start gap-4">
        <a href="/Transaction/AddorEdit/${TransactionId}" class="icons">
            <i class="fa-solid fa-pen"></i>
        </a>
        <form action="/Transaction/Delete/${TransactionId}" method="post" style="cursor:pointer" class ="icons">
            @Html.AntiForgeryToken()
            <i class="fa-solid fa-trash"></i>
        </form>
    </div>
</script>
@* <h1>Index</h1> *@


@* <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-action="AddorEdit" asp-route-id="@item.TransactionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TransactionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TransactionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@
